---
const previousPageId = Astro.url.pathname
    .split("/")
    .slice(-2, -1)[0]
    .toUpperCase();
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { type } from "../../data/rascadores.js";
import SearchValues from "../../components/searchValues.astro";
import FinalProductView from "../../components/FinalProductView.astro";

export const prerender = true;

const id = Astro.params.id;
const info = type.find((b) => b.id === id) || null;

export function getStaticPaths() {
    if (!type || !Array.isArray(type)) {
        console.error("Error: 'type' is undefined or not an array.");
        return [];
    }

    return type.map(({ id }) => {
        return { params: { id } };
    });
}
---

<Layout title=`${previousPageId} > ${id}`>
    {
        info ? (
            <>
                <h1 class="text-4xl font-normal">
                    <a class="text-[#0007]" href="./">
                        {previousPageId}
                    </a>
                    <span class="p-2">></span> {info.id}
                </h1>
                <section class="mt-4">
                    <SearchValues />
                </section>
                <main>
                    <FinalProductView XD={info.id}/>
                </main>
            </>
        ) : (
            <div class="text-center mt-10">
                <h1 class="text-4xl font-bold text-red-500">404 - Not Found</h1>
                <p class="text-lg mt-4">
                    The page you're looking for does not exist or has no data
                    available.
                </p>
                <a href="/" class="text-blue-500 underline mt-4">
                    Go back to the homepage
                </a>
            </div>
        )
    }
</Layout>
